.sign-in {
  width: 40%;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 800px) {
    font-size: 16px;
    display: block;
    margin: 0 auto;
    padding: 2rem;
  }

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 800px) {
      font-size: 12px;
      width: 40%;
    }
    @media screen and (max-width: 500px) {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
}
